{% extends 'base.html.twig' %}

{% block title %}Mon compte - Ecommerce
{% endblock %}

{% block content %}

	<h1>Mon compte</h1>

	{% if is_granted('ROLE_ADMIN') %}
		<small><a href="/admin">Accéder au backoffice</a></small> <br/>
	{% endif %}

	Bienvenue {{ app.user.firstName }} dans votre compte...<br/>
	C'est dans cet espace que vous allez pouvoir gérer vos informations personnelles
	<hr>
	<div class="row">
		<div class="col-md-4">
			<div class="account-item text-center">
				<img src="{{ asset('assets/img/secure.png') }}" alt="Modifier mon mot de passe">
				<a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="account-item ">
				<img src="{{ asset('assets/img/location.png') }}" alt="Gérer mes adresses">
				<a href="{{ path('account_address') }}">Gérer mes adresses</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="account-item text-center">
				<img src="{{ asset('assets/img/shopping-bag.png') }}" alt="Mes commandes">
				<a href="{{ path('account_order') }}">Mes commandes</a>
			</div>
		</div>
	
	</div>

{% endblock %}
